body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navigation {
  margin-top: 5%;
  margin-bottom: 5%;
}

#navigation a {
  margin-right: 10%;
}

#navigation a:last-child {
  margin-right: 0;
}

thead th {
  padding-right: 50px;
}

#print_component{
  text-align: center;
}